{% load static %}
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid py-2">
            
            {% if request.user.is_authenticated %}
            <a class="navbar-brand" style="width: 100px;" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid"></a>
            {% else %}
            <a class="navbar-brand" href="{% url 'index' %}" style="width: 100px;"><img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid"></a>
            {% endif %}
                
            <form action="{% url 'search' %}" class="d-flex" method="get">
                    <input class="form-control me-2" name="q" placeholder="Search" aria-label="Search">
                {% if request.user.is_authenticated %}
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark">Search</a>
                {% endif %}
                    
              </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto">
                    
                    
                    <li class="nav-item">
                        <a class="nav-link fs-5" style="margin-top: 2px;" href="{% url 'post_create' %}">Write</a>
                    </li>
                    
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link fs-5" style="margin-top: 2px;" href="{% url 'login' %}">Our Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" style="margin-top: 2px;" href="{% url 'login' %}">Membership</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link fs-5" style="margin-top: 2px;" href="{% url 'register' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" style="margin-top: 2px;" href="{% url 'login' %}">Sign In</a>
                    </li>
                   
                    {% else %}
                    <div class="dropdown" >
                        <li type="button" data-bs-toggle="dropdown" aria-expanded="false" class="me-5 pe-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="nav-link fs-5">{{ request.user.username }}</a>
                                <img src="{{ profil.image.url }}" style="width: 50px; border-radius: 50%;">
                            </div>
                        </li>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a></li>
                          <li><a class="nav-link text-dark px-3" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                      </div>

                  
                {% endif %}
                

                
                    
                  </ul>
            
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->